# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
out/
dist/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Prisma generated client
**/generated/
.prisma/

# Env & secrets
.env
.env.*
!.env.example

# Tests
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
